body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

.navbar {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-button {
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
}

.nav-button:hover {
    background: #555;
}



.nav-logo-link {
    display: flex;
    align-items: center;
    padding: 5px; 
    border-radius: 5px;
    transition: background 0.3s ease;
}

.nav-logo-link:hover {
    background: #555; 
}


.nav-logo {
    width: 40px; 
    height: auto;
    cursor: pointer; 
}




.nav-center {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-center a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-center .active {
    background: #732d1d;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-divider {
    width: 2px;
    height: 20px;
    background-color: white;
}


.nav-button.active {
    background: #732d1d !important;
    color: white !important;
    border-radius: 5px;
    padding: 8px 15px;
}
